<section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
    <h2 class="seccion-titulo texto-blanco" style="color: #0DCAF0;">Mis proyectos recientes</h2>
    <h3 class="seccion-descripcion texto-blanco">
        Estos son algunos proyectos que he creado recientemente...
    </h3>
    <!-- Galeria de Proyectos -->
    <div class="container text-center proyectos-contenedor">
        <div class="row">
            <!-- Proyecto 1 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/MBH.png" alt="Proyecto 1" />
                    <div class="overlay">
                        <p>MysticalBottleHunter</p>
                        <div class="iconos-contenedor">
                            <a href="https://play.unity.com/mg/other/mystical-bottle-hunter" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-solid fa-laptop fa-fade" style="color: white;"></i>
                            </a>
                            <a href="https://github.com/dinoferre/MysticalBottleHunter" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-github fa-fade" style="color: white;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 2 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/Meteoro.png" alt="Proyecto 4" />
                    <div class="overlay">
                        <p>Meteor|Dino</p>
                        <div class="iconos-contenedor">
                            <a href="https://dinoferre.github.io/Meteoro-Dino-Aframe/" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-solid fa-laptop fa-fade" style="color: white;"></i>
                            </a>
                            <a href="https://github.com/dinoferre/Meteoro-Dino-Aframe" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-github fa-fade" style="color: white;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 3 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/Memory-game.jpg" alt="Proyecto 2" />
                    <div class="overlay">
                        <p>Memory Game</p>
                        <div class="iconos-contenedor">
                            <a href="https://dinoferre.github.io/Juego-De-Memoria/" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-solid fa-laptop fa-fade" style="color: white;"></i>
                            </a>
                            <a href="https://github.com/dinoferre/Juego-De-Memoria" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-github fa-fade" style="color: white;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 4 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/E-commerce.png" alt="Proyecto 3" />
                    <div class="overlay">
                        <p>E-Commerce</p>
                        <div class="iconos-contenedor">
                            <a href="https://dinoferre.github.io/Ecommerce-Dino/index.html" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-solid fa-laptop fa-fade" style="color: white;"></i>
                            </a>
                            <a href="https://github.com/dinoferre/Ecommerce-Dino" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-github fa-fade" style="color: white;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Proyecto 5 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/todoList.png" alt="Proyecto 5" />
                    <div class="overlay">
                        <p>ToDo List</p>
                        <div class="iconos-contenedor">
                            <a href="https://dinoferre.github.io/Lista-De-Tareas/" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-solid fa-laptop fa-fade" style="color: white;"></i>
                            </a>
                            <a href="https://github.com/dinoferre/Lista-De-Tareas" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-github fa-fade" style="color: white;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 6 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="./assets/Encriptador.png" alt="Proyecto 6" />
                    <div class="overlay">
                        <p>Encriptador</p>
                        <div class="iconos-contenedor">
                            <a href="https://dinoferre.github.io/Encriptador/" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-solid fa-laptop fa-fade" style="color: white;"></i>
                            </a>
                            <a href="https://github.com/dinoferre/Encriptador" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-github fa-fade" style="color: white;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="https://github.com/dinoferre?tab=repositories" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-outline-info">Ver más proyectos</button>
    </a>
</section>

<!-- En la sección de "Mis proyectos recientes" se presentan 6 proyectos diferentes. Cada proyecto
está representado por una imagen y una descripción breve. Debajo de cada descripción hay dos iconos que representan
enlaces externos al proyecto. El primero dirige a la página web del proyecto y el segundo al repositorio de GitHub. -->
