<footer id="contacto" class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        <a href="https://github.com/dinoferre" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github fa-spin fa-xl" style="color: #0DCAF0;"></i>
        </a>
        <a href="https://www.linkedin.com/in/dinoferre/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin-in fa-spin fa-xl" style="color: #0DCAF0;"></i>
        </a>
        <a href="https://www.instagram.com/dino.ferre/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram fa-spin fa-xl" style="color: #0DCAF0;"></i>
        </a>
        <!-- <a href="https://www.facebook.com/dino.ferre/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook fa-spin fa-xl" style="color: #0DCAF0;"></i>
        </a> -->
        <a href="mailto:dinoferre@hotmail.com" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-envelope fa-spin fa-xl" style="color: #0DCAF0;"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=5491155795177" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-whatsapp fa-spin fa-xl" style="color: #0DCAF0;"></i>
        </a>
    </div>
    <div class="derechos-de-autor">
        Creado por <span class="nombre-autor">Dino Ferré</span> (2023) &#169;
    </div>
</footer>

<!-- El código muestra el pie de página del sitio web. Contiene enlaces a perfiles de redes sociales, incluyendo
Github, LinkedIn, Instagram, Whatsapp y correo electrónico. También incluye información de derechos de autor indicando
que el sitio web fue creado en 2023. -->