<div>
    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-md navbar-dark bg-black">
        <div class="container-fluid">
            <button class="navbar-toggler order-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-ellipsis fa-beat-fade" style="color: #0DCAF0;"></i>
            </button>
            <div class="collapse navbar-collapse order-0" id="navbar-toggler">
                <ul class="navbar-nav ms-auto d-flex justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#sobre-mi">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#certificaciones">Certificaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Es un fragmento de código HTML que contiene una barra de navegación con enlaces a diferentes secciones de la página
web. La barra se expande al hacer clic en un botón y se colapsa al hacer clic de nuevo. -->