<div class="container text-center" id="skills">
    <h1 class="seccion-titulo texto-negro text-center" style="color: #0DCAF0;">Mis Skills</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/html_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#E44D26'"
                [innerStrokeColor]="'#F16529'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/css_logo.png'" [showImage]="true"
                [imageWidth]="65" [imageHeight]="65" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#004CE8'"
                [innerStrokeColor]="'#629FF8'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/js_logo.png'" [showImage]="true"
                [imageWidth]="60" [imageHeight]="60" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#FFDF00'"
                [innerStrokeColor]="'#EDD93B'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/typescript_logo.png'"
                [showImage]="true" [imageWidth]="60" [imageHeight]="60" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#2D79C7'"
                [innerStrokeColor]="'#007ACD'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/java_logo.png'" [showImage]="true"
                [imageWidth]="65" [imageHeight]="65" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#575487'"
                [innerStrokeColor]="'#8B89AC'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">


        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/python_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#366994'"
                [innerStrokeColor]="'#FFE052'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/angular_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#B52E31'"
                [innerStrokeColor]="'#E23237'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/react_logo.png'" [showImage]="true"
                [imageWidth]="73" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#00D8FF'"
                [innerStrokeColor]="'#19AFCB'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/github_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#3859A8'"
                [innerStrokeColor]="'#2F3462'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/mysql_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#DE8A03'"
                [innerStrokeColor]="'#105E86'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/npm.png'" [showImage]="true"
                [imageWidth]="73" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#D50000'"
                [innerStrokeColor]="'#F1A7A7'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/node.png'" [showImage]="true"
                [imageWidth]="73" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#4CAF50'"
                [innerStrokeColor]="'#36464E'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/unity.png'" [showImage]="true"
                [imageWidth]="73" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#000000'"
                [innerStrokeColor]="'#AFAFAF'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/blender.jpg'" [showImage]="true"
                [imageWidth]="73" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#EA7600'"
                [innerStrokeColor]="'#275787'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="100" [radius]="60" [imageSrc]="'./assets/developer.png'" [showImage]="true"
                [imageWidth]="120" [imageHeight]="120" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#45AC4E'"
                [innerStrokeColor]="'#81989F'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
    </div>
</div>

<!-- Este código HTML representa una sección de habilidades "Hard" y "Soft". Utiliza la biblioteca Circle
Progress para mostrar habilidades en diferentes tecnologías, incluyendo HTML, CSS, JavaScript, TypeScript, Java, MySQL y
Python. Cada habilidad se muestra como un círculo animado que muestra el porcentaje de habilidad en esa tecnología, así
como su logotipo correspondiente. La sección está dividida en tres contenedores diferentes, cada uno con cuatro
habilidades. La sección es estilizada con CSS para que sea visualmente atractiva y se ajuste al diseño general de la
página web. -->