<section id="sobre-mi" class="sobre-mi seccion-oscura">
  <div class="contenedor">
    <h2 class="seccion-titulo">Sobre mí</h2>
    <p class="seccion-texto">
      A lo largo de mi trayectoria profesional, he explorado diversas áreas, desde desempeñar roles administrativos hasta brindar atención al cliente de manera efectiva. En el presente, he completado exitosamente la tercera parte del curso de Python en IT MASTER. Asimismo, he finalizado mi participación en el curso de Unity en la UTN-BA.
Mirando hacia el futuro, tengo previsto continuar con la cuarta parte del curso de Python, ampliando así mis conocimientos y habilidades en programación.
Además, sigo dedicando tiempo y esfuerzo al aprendizaje continuo, participando en cursos y proyectos que me permitan seguir creciendo en el campo de la programación y el desarrollo de videojuegos, así como en experiencias AR/VR.
Durante mi recorrido, he completado con éxito dos cursos altamente reconocidos en programación Full Stack a través de plataformas de renombre como Argentina Programa y Oracle Next Education (Alura Latam). Mi experiencia laboral me ha permitido cultivar competencias fundamentales en habilidades interpersonales, tales como el trabajo colaborativo, la gestión de conflictos y la empatía. Estas aptitudes han sido esenciales para establecer relaciones sólidas y positivas tanto con mis colegas como con los clientes.
    </p>
    <a href="./assets/Dino-Ferre-CV.pdf" download>
      <button type="button" class="btn btn-outline-info">Descargar CV</button>
    </a>
  </div>
</section>

<!-- Sección "Sobre mí" con un botón para descargar el currículum en PDF. -->
