<section class="hero align-items-stretch" style="background-image: url('./assets/banner.png'); background-size: cover;">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center"
        style="max-width: 800px; margin: 0 auto;">
        <img class="hero-imagen-desarrollador rounded-circle" src="./assets/dino.png" alt="Foto de Dino Ferre"
            style="height: 200px;" />
        <h1>Hola, soy <strong id="nombre">Dino Ferré</strong></h1>
        <h2>Full Stack Developer Jr.</h2>
    </div>
</section>

<!-- Este un componente que muestra una sección hero en una página web. 
Esta sección incluye una imagen del desarrollador, su nombre y su título como desarrollador Full Stack Junior. 
El fondo de la sección está configurado para mostrar una imagen en particular y la sección está diseñada para tener un ancho máximo de 800 píxeles y estar centrada
en la página. -->